<div class="container">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container  animated fadeIn slow" id="cardContainer border border-secondary">
        <div class="row d-flex justify-content-center">
            <div class="col-1">
                <a href="/" id="arrowHover">
                    <button class="btn btn-primary-outline" id="arrow-right"><</button>
                </a>
            </div>
                <div class="col-lg-5 col-10">
                    <div class="card hovercard">
                        <div class="cardheader border border-secondary p-4" id="frame">
                            <img class="img-fluid border border-light p-1" style="background: white"
                                src="/images/Cute-puppy-pictures-science-why-adorable-puppies-1355345.jpg" ;>
                        </div>
                        <div class="avatar">
                            <img alt="" src="/images/1.jpg" class="img-fluid">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" style="color: grey" href="/">{{pet_name}}</a>
                            </div>
                            <div class="desc">Pet type: {{pet_type}}</div>
                            <div class="desc">Pet Breed: {{pet_breed}}</div>
                            <div class="desc">Color: {{color}}</div>
                            <div class="desc">Lost status: {{lost_status}}</div>
                        </div>
                        <div class="bottom p-1">
                            <a class="btn btn-light border border-dark " href='/'>Click here to see my
                                profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                <a id="arrowHover" href="/">
                    <button class="btn btn-primary-outline" id="arrow-right">></button>
                </a>
            </div>
            </div>
        </div>
    </div>