<div class="container">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container  animated fadeIn slow" id="cardContainer border border-secondary">
        <div class="row d-flex justify-content-center">
            <div class="card-carousel " >
                {{#each pets}}
                    <div class="my-card col-3 card hovercard ">
                        <div class="cardheader border border-secondary p-4 " id="frame">
                            {{#if pet_image1}}
                            <img class="img-fluid border border-light p-1" style="background: white"
                                src="{{pet_image1}}">
                            {{else}} 
                            <img class="img-fluid border border-light p-1" style="background: white"
                                src="/images/default-image.jpg">
                            {{/if}}
                        </div>
                        <div class="avatar">
                            {{#if pet_image2}}
                            <img alt="Profile Picture" src="{{pet_image2}}" class="img-fluid">
                            {{else}}
                            <img alt="Profile Picture" src="/images/1.jpg" class="img-fluid">
                            {{/if}}
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank" style="color: grey" href="/">{{pet_name}}</a>
                            </div>
                            <div class="desc">Pet type: {{pet_type}}</div>
                            <div class="desc">Pet Breed: {{pet_breed}}</div>
                            <div class="desc">Color: {{color}}</div>
                            <div class="desc">Lost status: {{lost_status}}</div>
                        </div>
                        <div class="bottom p-1">
                            <a class="btn btn-light border border-dark " href='/find'>Report this pet</a>
                        </div>
                    </div>
                {{/each}}
            </div>
            </div>
        </div>
    </div>