<div class="container  animated fadeIn slow" id="cardContainer border border-secondary">
    <div class="row d-flex justify-content-center">
        {{#each result}}
        <div class="card" style="width: 18rem;">
            {{#if pet_image1}}
            <img class="img-fluid border border-light p-1" style="background: white" src="{{pet_image1}}">
            {{else}}
            <img class="img-fluid border border-light p-1" style="background: white" src="/images/default-image.jpg">
            {{/if}}
            <div class="card-body">
                <h5 class="card-title">{{pet_name}}</h5>
                <p class="card-text">Pet Breed: {{pet_breed}}</p>
                <p class="card-text">Color: {{pet_color}}</p>
                <p class="card-text">Age: {{pet_age}}</p>
                <p class="card-text">Coat: {{pet_coat}}</p>
                <p class="card-text">Sex: {{pet_sex}}</p>
                <a href="#" class="btn btn-primary mb-3">Delete</a>
                {{#if lost_status}}
                <a data-toggle-button="/api/toggle/{{pet_id}}" id="{{pet_id}}"
                    class="toggle-lost btn btn-danger text-white mb-3">Lost</a>
                {{else}}
                <a data-toggle-button="/api/toggle/{{pet_id}}" id="{{pet_id}}"
                    class="toggle-lost btn btn-success text-white mb-3">Home</a>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.toggle-lost', function () {
            var route = $(this).data('toggle-button');
            console.log(route);
            axios.post(route)
                .then(function (response) {
                    console.log(response);
                    window.location.reload();
                })
                .catch(function (error) {
                    console.log(error);
                })
        })
    });
</script>